<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}" href="../css/bootstrap.min.css" rel="stylesheet">
    <title>mainPage</title>
    <style>
        .container {
            max-width: 560px;
        }
        .field-error {
            border-color: #dc3545;
            color: #dc3545;
        }
    </style>
</head>
<body>
<!-- 여기에 -->
<div class="container">
    <div class="py-5 text-center">
        <h2>모든 상품</h2>
    </div>
    <div th:class="'d-flex justify-content-between'">
        <h4 class="mb-3" th:text="|${user.nickName}님 환영합니다|">닉네임</h4>
        <div>
            <button class="btn btn-secondary btn-lg mr-2"
                    th:onclick="|location.href='@{/page/myPage/{userId}(userId=${userId})}'|">
                마이 페이지
            </button>
            <form th:action="@{/logout}" method="post" class="d-inline">
                <button class="btn btn-dark btn-lg" type="submit">로그아웃</button>
            </form>
        </div>
    </div>
    <div class="py-5 text-center">
        <div class="row mb-3">
            <div class="col">
                <button class="w-100 btn btn-primary btn-lg"
                        th:onclick="|location.href='@{/page/items/{userId}/category(userId=${userId})}'|">
                    판매하기
                </button>
            </div>
        </div>
    </div>
    <div th:if="${items.isEmpty()}">
        <p>등록된 상품이 없습니다.</p>
    </div>

    <div th:if="${not items.isEmpty()}">
        <div class="row">
            <div class="col">
                <table class="table">
                    <thead>
                    <tr>
                        <th>상품 번호</th>
                        <th>상품명</th>
                        <th>가격</th>
                        <th>재고 수량</th>
                        <th>판매자</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="item : ${items}" th:onclick="|location.href='@{/page/items/{userId}/item/{category}/{itemId}(userId=${userId},category=${item.category},itemId=${item.id})}'|">
                        <td th:text="${item.id}">상품 번호</td>
                        <td th:text="${item.itemName}">상품명</td>
                        <td th:text="${item.stockQuantity}">재고 수량</td>
                        <td th:text="${item.price}">가격</td>
                        <td th:text="${item.nickName}">판매자</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

</body>
</html>